<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>You are invited to Eric and Asmita's Wedding</h1>
    <p>
      Click <a href="<%= @url %>">here</a> to RSVP
    </p>
  </body>
</html>