<div class="row">
  <div class="small-12 large-12 columns">
    <%= form_tag(:guestbook_submit, method: "post", data:{ abide: '' }) do %>
      <label for="guestbook-from-field">From:</label>
      <input id="guestbook-from-field" type="text" name="guestbook-from-field">
      <label for="guestbook-text-field">Well Wishes:</label>
      <input id="guestbook-text-field" type="text" name="guestbook-text-field">
      <button type="submit">Submit</button>
    <% end %>
  </div>
</div>
<% @guestbooks.each do |guestbook| %>
<div class="row">
  <div class="small-12 large-12 columns">
  	<span>From: <%= guestbook.from %></span>
    <p><%= guestbook.body %></p>
  </div>
</div>
<% end %>