<!-- row image left -->
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'hotel.jpg', class: 'big_day_photo-left', align: 'left'%>
      <p>
        <h2>Hotel</h2>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed interdum sem. Maecenas faucibus, turpis a pharetra feugiat, lorem tellus placerat leo, ut tincidunt felis justo id mi. Fusce laoreet ligula sapien, non condimentum lectus efficitur quis
      </p>
    </div>
  </div>
</div>
<!-- row image right -->
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'subway.jpg', class: 'big_day_photo-right', align: 'right' %>
      <p>
        <h2>Transportation to the Ceremony</h2>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed interdum sem. Maecenas faucibus, turpis a pharetra feugiat, lorem tellus placerat leo, ut tincidunt felis justo id mi. Fusce laoreet ligula sapien, non condimentum lectus efficitur quis
      </p>
    </div>
  </div>
</div>
<!-- row image left -->
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'skyline.jpg', class: 'big_day_photo-left', align: 'left'%>
      <p>
        <h2>Things to Do in NYC</h2>
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed interdum sem. Maecenas faucibus, turpis a pharetra feugiat, lorem tellus placerat leo, ut tincidunt felis justo id mi. Fusce laoreet ligula sapien, non condimentum lectus efficitur quis
      </p>
    </div>
  </div>
</div>
<!-- row image right -->
<div class="section">
  <div class="row">
    <div class="large-12 small-12 columns">
      <p>
        <h2>Things to Eat</h2>
      </p>
      <p>
        <%= image_tag 'fine_dining.jpg', class: 'big_day_photo-left', align: 'right' %>
        Visit <a target="_blank" href="http://www.seriouseats.com/where-to-eat-in-new-york">Serious Eats</a> for a serious review on New York’s food scene. Additionally, here are some of our recommendations.
        <h3>Sit Down</h3>
        <p>Chinese - <a target="_blank" href="http://www.yelp.com/biz/szechuan-gourmet-new-york">Szechuan Gourmet</a> - One of the standout restaurants for spicy Szechuan food and Asmita’s favorite. However, there are limited vegetarian options. Two locations in Midtown West. 
        </p>
        <p>Ramen - <a target="_blank" href="http://www.yelp.com/biz/totto-ramen-new-york">Totto Ramen</a> - Ramen is a Japanese noodle soup and New Yorkers cannot agree on which is the best place in the city. Totto is our current favorite and has vegetarian ramen. Three locations in Midtown. 
        </p>
        <p>Indian - <a target="_blank" href="http://www.yelp.com/biz/bukhara-grill-new-york">Bukhara Grill</a> - Best Indian lunch buffet in NYC in our opinion. A la carte options are equally good. One Location in Midtown East
        </p>
        <p>French - <a target="_blank" href="http://www.yelp.com/biz/les-halles-new-york-5">Les Halles</a> - Witness to one of Asmita and Eric’s first dates and countless other ones. Limited vegetarian options. Two locations in  Gramercy Park and Downtown.
        </p>
        <p>Italian - <a target="_blank" href="http://www.yelp.com/biz/osteria-morini-new-york">Osteria Morini</a> - Comes closest to capturing our favorite dishes from our Italy trip. Can be slightly expensive for an Osteria. One location in NoLita. 
        </p>
        <p>Old School New York - <a target="_blank" href="http://www.yelp.com/biz/minetta-tavern-new-york">Minetta Tavern</a> - In a city where indifferent service is easy to come by, Minetta has some of the best service and their food is equally scrumptiious. Reservations are hard to come by but early dinner walk ins are a possibility. Has limited vegetarian options. One location in Greenwich Village. 
        </p>
        <p>Pizza - <a target="_blank" href="http://www.yelp.com/biz/adriennes-pizzabar-new-york">Adrienne’s Pizza Bar</a> -  There are many opinions on the “best” pizza in New York but in our opinion a local pizza place beats one that you have to wait in line for. This is probably the best "local" place near the Marriott Downtown and a favorite of Eric’s when he worked in the area. Has vegetarian options. One location in Financial District.
        </p>
        <p>Mexican - Doesn't exist. Visit San Antonio.</p>

        <h3>Cheap Eats</h3>

        <p>Street Food - <a target="_blank" href="http://www.yelp.com/biz/the-halal-guys-new-york-2">Halal Guys</a> - Tasty meat and rice combo platters, we recommend the lamb/gyro rice platter. This is a New York institution but not for those without strong stomachs. Not recommended for vegetarians. Two locations - street cart on 53rd and 6th and brick and mortar in East Village. 
        </p>
        <p>Cambodian Sandwiches - <a target="_blank" href="http://www.yelp.com/biz/num-pang-new-york-3">Num Pang</a> - Delicious vegeatrian and non-vegetarian sandwiches. Multiple locations around the city. 
        </p>
        <p>Chinese - <a target="_blank" href="http://www.yelp.com/biz/xian-famous-foods-new-york-6">Xi’an Famous Foods</a> - Spicy hand pulled noodles dishes and other spicy meat combinations. This is a NYC cult favorite but has very limited vegetarian options consisting of salads. Multiple locations around the city. 
        </p>
        <p>Mac and Cheese - <a target="_blank" href="http://www.yelp.com/biz/smac-new-york">S’Mac</a> - Delicious American comfort food with a variety of toppings. We love all of them. Has vegetarian options. Two locations in East Village and NoLita. 
        </p>
        <p>Street Food - <a target="_blank" href="http://www.yelp.com/biz/waffles-and-dinges-new-york-4">Wafels and Dinges</a> - Authentic Belgium style waffles. Get unlimited Dinges for the best experience! One brick and mortar location in Bryant Park or check where there carts are. 
        </p>
        <p>Hot Dogs - <a target="_blank" href="http://www.yelp.com/biz/crif-dogs-new-york">Crif Dogs</a> - NYC is known for its hot dogs but street cart hot dogs will turn even the most ardent hot dog fan against the food. Try this place for some of the most delicious hot dogs in the city, so much so that the maid of honor visits every time she is in the city. One Manhattan location in East Village.
        </p>
        <p>Falafels - <a target="_blank" href="http://www.yelp.com/biz/taim-falafel-new-york">Taim</a> - Some of the best falafel in the city. Two locations in Nolita and East Village. 
        </p>
        <p>Food Court - <a target="_blank" href="http://www.yelp.com/biz/hudson-eats-at-brookfield-place-new-york">Hudson Eats</a>- Place to go near Marriott Downtown if you everyone is craving something different.
      </p>
    </div>
  </div>
</div>
