<!-- row image left -->
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'hotel.jpg', class: 'big_day_photo-left', align: 'left'%>
      <p>
        <h2>Hotel</h2>
      </p>
      <p>
        <% if [:asmita_family, :asmita_family_friend].include?(current_user.group_name) %>
          For those that have filled out the RSVP, hotel rooms at the Marriott Downtown will be provided for the number of nights requested and a booking confirmation will be sent to the login e-mail. 
        <% else %>
          We have reserved a block of rooms at the Marriott Downtown which can be booked through the following <a href="https://resweb.passkey.com/Resweb.do?mode=welcome_ei_new&eventID=14462273" target="_blank">link.</a>
        <% end %>
      </p>
      <h3>Hotel Parking</h3>
      <p>     
        Valet Parking is available at the hotel for $60 per day. Alternatively, parking is available at a cheaper rate at two lots on Albany Street. This <a href="http://nyc.bestparking.com/neighborhoods/financial-district-parking" target="_blank">site</a> provides a guide to parking in the area.
      </p>
      <h3>Transportation from Major Airports</h3>
      <p>     
        For those arriving from airports, the Marriott Downtown is accessible in the following <a href="http://www.marriott.com/hotels/maps/travel/nycws-new-york-marriott-downtown/" target="_blank">ways</a>. We have included some tips from our own experience. 
      </p>
      <h4>Newark Liberty Airport (EWR)</h4>
      <p>
        <span class="bold">Uber (Convienient)</span> - The estimated fare for UberX is $41-$47.
      </p>
      <p>
        <span class="bold">Public Transport (Economical)</span> -  The fare is $4.25 per person + $1 for a new metrocard. Take Bus 62 to Newark Penn Station. The fare is $1.50 per person and the bus offers no change. Follow the signs for the Path and purchase a Metrocard (yellow). Take the Path Train to World Trade Center. One way fare is $2.75. After exiting, World Trade Center walk to the hotel provided walking directions are available.
      </p>
      <h4>LaGuardia Airport (LGA)</h4>
      <p>
        <span class="bold">Uber (Convienient)</span> - The estimated fare for UberX is $37-$49. 
      </p>
      <p>
        <span class="bold">Public Transport (Economical)</span> -  The fare is $2.75 per person + $1 for a new metrocard. Take bus Q70 from La Guardia to 74 St/Roosevelt Subway Stop, connect to the E train and get off at the World Trade Center stop. Walk 8 min to the hotel provided walking directions are available. More routes are available <a href="http://web.mta.info/nyct/service/airport.htm" target="_blank">here but this has the best signage.</a>
      </p>
      <h4>John F. Kennedy Airport (JFK)</h4>
      <p>
        <span class="bold">Taxi (Convienient)</span> - There is a flat fare of $52 before tolls, tax, and gratuity. Read more  <a href="http://www.panynj.gov/airports/jfk-taxi-car-van-service.html" target="_blank">here</a>.
      </p>
      <p>
        <span class="bold">Public Transport (Economical)</span> -  The fare is $7.75 per person + $1 for a new metrocard. Follow signs for the AirTrain from your terminal and board a Howard Beach bound AirTrain. Exit the AirTrain at Howard Beach, purchase a metrocard with at least $7.75 fare, and connect to the NYC subway. Take the A train to Manhattan and exit at the Chambers Street stop. Walk 8 minutes to the hotel provided walking directions are available. This is a very straightforward and well signed route up to Chambers Street.
      </p>
    </div>
  </div>
</div>
<!-- row image right -->
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'subway.jpg', class: 'big_day_photo-right', align: 'right' %>
      <p>
        <h2>Transportation in NYC</h2>
      </p>
      <h3>Subway</h3>
      <p>
        <span class="bold">Fares</span> - $2.75 per ride regardless of distance or $31 for unlimited rides for 7 days. <a href="http://web.mta.info/metrocard/" target="_blank">Metrocard</a> is a reusable and refillable card needed to enter the subway. New cards have a $1 charge but can be shared legally if you pay per ride. To share a card, the first person swipes and enters and gives it to the next person who swipes and enters. 
      </p>
      <p>
        <span class="bold">Navigation</span> - Newer subway cars list and call out stops while older ones do not and require one to pay attention to the station signs. Downtown trains or trains going to Brooklyn are going south. Uptown trains or trains going to Queens are going North. 
      </p>
      <p>
        <a href="http://web.mta.info/maps/submap.html" target="_blank">Map</a> - As a rule of thumb, it usually takes 2 minutes to the next stop. 
      </p>
      <h3>Uber</h3>
      <p>
        For those unfamiliar with Uber, it is an app that you download on your iPhone or Android device. After downloading, the app will direct you how to use it. If it is your first ride, you can enter the following code (59ec9) to get a discount off your ride. (Full disclosure - we get a discount if you use this code). It does not work if you do not have a suitable device. For fare estimates<a href="https://www.uber.com/cities/new-york/?int=a" target="_blank">click here</a>. 
      </p>
      <h3>Taxi</h3>
      <p>
        New York City does not charge fees to use a credit card and drivers expect 20% gratuity. Cabs can be hailed from the street. 
      </p>
      <h3>Walking</h3>
      <p>
         New York is very walkable and each block only takes about a minute to walk. 
      </p>
      
    </div>
  </div>
</div>
<!-- row image left -->
<div class="section">
  <div class="row">
    <div class="small-12 large-12 columns">
      <%= image_tag 'skyline.jpg', class: 'big_day_photo-left', align: 'left'%>
      <p>
        <h2>Things to Do in NYC</h2>
      </p>
      <p>
        If you are looking for additional things to do, <a href="http://www.tripadvisor.com/Attractions-g60763-Activities-New_York_City_New_York.html" target="_blank">Trip Advisor</a> is a good resource. Additionally, here are our thoughts on New York’s attractions.
      </p>
      <% if [:asmita_family, :asmita_family_friend].include?(current_user.group_name) %>
      <p>
        If you’re joining us for the bus or boat tour, we’ll take you past most of New York’s iconic attractions. The boat will get pretty close to the Statue of Liberty which in our opinion is enough to view it.
      </p>
      <% end %>
      <h3>Art Museums</h3>
      <p>
        Some art museums are pay what you wish and others have free days. Check this <a href="http://www.nyc-arts.org/collections/35/free-museum-days-or-pay-what-you-wish" target="_blank">link</a> to see if any of the musuems you are interested in have any policies.
      </p>
      <h3>Intrepid Museum</h3>
      <p>
        One of Eric’s favorite muesums in the city. The <a href="http://www.intrepidmuseum.org/" target="_blank">museum</a> is located on an aircraft carrier and has exhibits featuring military planes and the Enterprise space shuttle. Buy tickets online beforehand to avoid long queues. 
      </p>
      <h3>Scenic Vistas</h3>
      <p>
        The Empire State Building, Top of the Rock, and One World Trade Center all offer great views of the New York skyline. If you visit one, you’ve visited all three in many New Yorker’s opinions.  
      </p>
      <h3>Favorite Free Attractions</h3>
      <p>
        Walk on the Highline, Walk in Central Park, and Walk around Times Square at night.
      </p>
      <h3>Favorite Neighborhoods</h3>
      <p>
        East, West, and Greenwich Village
      </p>
      <h3>Attractions Near the Hotel</h3>
      <p>
        One World Observatory, Memorial Pools, Wall St, the Bull, Battery Park, Statue of Liberty, South Street Seaport,  The Brooklyn Bridge.
      </p>
      <h3>Broadway</h3>
      <p>
        For those unfamiliar with Broadway, we recommend Wicked or Aladdin. For those who’ve seen quite a few shows, checkout this <a href="http://broadwayforbrokepeople.com/" target="_blank">website</a> for a list of shows and how to get cheaper tickets.
      </p>
    </div>
  </div>
</div>
<!-- row image right -->
<div class="section">
  <div class="row">
    <div class="large-12 small-12 columns">
      <p>
        <h2>Things to Eat</h2>
      </p>
      <p>
        <%= image_tag '1446.jpg', class: 'big_day_photo-left', align: 'right' %>
        Visit <a target="_blank" href="http://www.seriouseats.com/where-to-eat-in-new-york">Serious Eats</a> for a serious review on New York’s food scene. Additionally, here are some of our recommendations.
        <h3>Sit Down</h3>
        <p>Chinese - <a target="_blank" href="http://www.yelp.com/biz/szechuan-gourmet-new-york">Szechuan Gourmet</a> - One of the standout restaurants for spicy Szechuan food and Asmita’s favorite. However, there are limited vegetarian options. Two locations in Midtown West. 
        </p>
        <p>Ramen - <a target="_blank" href="http://www.yelp.com/biz/totto-ramen-new-york">Totto Ramen</a> - Ramen is a Japanese noodle soup and New Yorkers cannot agree on which is the best place in the city. Totto is our current favorite and has vegetarian ramen. Three locations in Midtown. 
        </p>
        <p>Indian - <a target="_blank" href="http://www.yelp.com/biz/bukhara-grill-new-york">Bukhara Grill</a> - Best Indian lunch buffet in NYC in our opinion. A la carte options are equally good. One Location in Midtown East
        </p>
        <p>French - <a target="_blank" href="http://www.yelp.com/biz/les-halles-new-york-5">Les Halles</a> - Witness to one of Asmita and Eric’s first dates and countless other ones. Limited vegetarian options. Two locations in  Gramercy Park and Downtown.
        </p>
        <p>Italian - <a target="_blank" href="http://www.yelp.com/biz/osteria-morini-new-york">Osteria Morini</a> - Comes closest to capturing our favorite dishes from our Italy trip. Can be slightly expensive for an Osteria. One location in NoLita. 
        </p>
        <p>Old School New York - <a target="_blank" href="http://www.yelp.com/biz/minetta-tavern-new-york">Minetta Tavern</a> - In a city where indifferent service is easy to come by, Minetta has some of the best service and their food is equally scrumptiious. Reservations are hard to come by but early dinner walk ins are a possibility. Has limited vegetarian options. One location in Greenwich Village. 
        </p>
        <p>Pizza - <a target="_blank" href="http://www.yelp.com/biz/adriennes-pizzabar-new-york">Adrienne’s Pizza Bar</a> -  There are many opinions on the “best” pizza in New York but in our opinion a local pizza place beats one that you have to wait in line for. This is probably the best "local" place near the Marriott Downtown and a favorite of Eric’s when he worked in the area. Has vegetarian options. One location in Financial District.
        </p>
        <p>Mexican - Doesn't exist. Visit San Antonio.</p>

        <h3>Cheap Eats</h3>

        <p>Street Food - <a target="_blank" href="http://www.yelp.com/biz/the-halal-guys-new-york-2">Halal Guys</a> - Tasty meat and rice combo platters. This is a New York institution but not for those without strong stomachs. Not recommended for vegetarians. Two locations - street cart on 53rd and 6th and brick and mortar in East Village. 
        </p>
        <p>Cambodian Sandwiches - <a target="_blank" href="http://www.yelp.com/biz/num-pang-new-york-3">Num Pang</a> - Delicious vegeatrian and non-vegetarian sandwiches. Multiple locations around the city. 
        </p>
        <p>Chinese - <a target="_blank" href="http://www.yelp.com/biz/xian-famous-foods-new-york-6">Xi’an Famous Foods</a> - Spicy hand pulled noodles dishes and other spicy meat combinations. This is a NYC cult favorite but has very limited vegetarian options consisting of salads. Multiple locations around the city. 
        </p>
        <p>Mac and Cheese - <a target="_blank" href="http://www.yelp.com/biz/smac-new-york">S’Mac</a> - Delicious American comfort food with a variety of toppings. We love all of them. Has vegetarian options. Two locations in East Village and NoLita. 
        </p>
        <p>Street Food - <a target="_blank" href="http://www.yelp.com/biz/waffles-and-dinges-new-york-4">Wafels and Dinges</a> - Authentic Belgium style waffles. Get unlimited Dinges for the best experience! One brick and mortar location in Bryant Park or check where there carts are. 
        </p>
        <p>Hot Dogs - <a target="_blank" href="http://www.yelp.com/biz/crif-dogs-new-york">Crif Dogs</a> - NYC is known for its hot dogs but street cart hot dogs will turn even the most ardent hot dog fan against the food. Try this place for some of the most delicious hot dogs in the city, so much so that the maid of honor visits every time she is in the city. One Manhattan location in East Village.
        </p>
        <p>Falafels - <a target="_blank" href="http://www.yelp.com/biz/taim-falafel-new-york">Taim</a> - Some of the best falafel in the city. Two locations in Nolita and East Village. 
        </p>
        <p>Food Court - <a target="_blank" href="http://www.yelp.com/biz/hudson-eats-at-brookfield-place-new-york">Hudson Eats</a>- Place to go near Marriott Downtown if you everyone is craving something different.
      </p>
    </div>
  </div>
</div>
