<!-- row image left -->
<div class="row">
  <div class="small-5 large-5 columns">
    <%= image_tag 'big_day_1.jpg', class: 'big_day_photo'%>
    <img></img>
  </div>
  <div class="small-7 large-7 columns">
    <p>
      <h2>Ceremony</h2>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed interdum sem. Maecenas faucibus, turpis a pharetra feugiat, lorem tellus placerat leo, ut tincidunt felis justo id mi. Fusce laoreet ligula sapien, non condimentum lectus efficitur quis
    </p>
  </div>
</div>
<!-- row image right -->
<div class="row">
  <div class="small-7 large-7 columns">
    <p>
      <h2>Reception</h2>
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed interdum sem. Maecenas faucibus, turpis a pharetra feugiat, lorem tellus placerat leo, ut tincidunt felis justo id mi. Fusce laoreet ligula sapien, non condimentum lectus efficitur quis
    </p>
  </div>
  <div class="small-5 large-5 columns">
    <%= image_tag 'big_day_3.jpg', class: 'big_day_photo' %>
  </div>
</div>
