<div class="wedding_party">
  <div class="row headers">
    <div class="small-6 large-6 columns">
      <h1>Bride Side</h1>
    </div>
    <div class="small-6 large-6 columns">
      <h1>Groom Side</h1>
    </div>
  </div>
  <div class="row">
    <% @wedding_party.each do |individual| %> 
      <%= render 'individual', :individual => individual %>
    <% end %>
  </div>
</div>