<div class="wedding_party-desktop">
  <div class="row headers">
    <div class="small-12 large-12 columns">
      <h1>Bridal Party</h1>
    </div>
  </div>
  <% @wedding_party.each_with_index do |individual, index| %> 
    <% if index.even? || index.zero? %>
      <div class="row wedding-party">
    <% end %>
      <%= render 'individual', :individual => individual %>
    <% if index.odd? %>
      </div>
    <% end %>
  <% end %>
</div>
