<div class="wedding_party-desktop">
  <div class="row headers">
    <div class="small-12 large-12 columns">
      <h1 class="bridal-party-title">Bridal Party</h1>
    </div>
  </div>
  <% @wedding_party.each_with_index do |individual, index| %> 
    <div class="section">
    <div class="row wedding-party">
      <p></p>
      <%= render 'individual', :individual => individual, :index => index %>
    </div>
    </div>
  <% end %>
</div>
