<div class="wedding_party-desktop">
  <div class="row headers">
    <div class="small-12 large-12 columns">
      <h1>Bridal Party</h1>
    </div>
  </div>
  <div class="row">
    <% @wedding_party.each do |individual| %> 
      <%= render 'individual', :individual => individual %>
    <% end %>
  </div>
</div>
