
    <div class="slideshow">
      <div class="photo">
      	<%= image_tag 'eigfjord.jpg' %>
      </div>
      <div class="photo">
      	<%= image_tag 'chunnel.JPG' %>
      </div>
      <div class="photo">
      	<%= image_tag 'wedding.JPG' %>
      </div>
    </div>
