
<div class="slideshow">
  <div class="photo">
  	<%= image_tag 'kayak.jpg' %>
  </div>
</div>
<div class="welcome-message">
  <div class="wedding-date">
    SATURDAY, THE TWENTY-EIGHTH OF MAY TWO THOUSAND SIXTEEN
  </div>
  <div class="eric-name">
    ERIC
  </div>
  <div class="and-sep">
    AND
  </div>
  <div class="asmita-name">
    ASMITA
  </div>
  <%= image_tag 'skyline.svg', class: 'skyline' %>
</div>
