<div class="row">
  <div class="large-12">
	<div class="gallery">
	  <% @images.each_with_index do |image, i| %>
	  <div class="image">
	  	<a rel="gallery-1" href="<%= image.photo.url %>" class="swipebox">
	  	<%= image_tag image.photo.url(:thumb) %>
	    </a>
	  </div>
	  <% end %>
	</div>
  </div>
</div>