nav.top-bar {
  background-color: rgba(54, 25, 25, 0.0);
}
body.f-topbar-fixed {
  padding-top:0px;
}

ul.title-area > li.logo {
  border-radius: 0 0 25px 0;
  background-color: rgba(54, 25, 25, 0.0);
  padding:5px;
}

img.ganesh-logo {
  height:80px;
}

div.alert-box {
  margin-bottom: 0px;
  margin-top: 15px;
  padding-left: 150px;
}