h1.bridal-party-title {
  text-align: center;
}
div.wedding-party {
  margin: 15px 0 15px 0;
  img {
    border-radius: 50%;
  }
  span.bold {
    font-weight: bold;
  }
} 
wedding-party

div.headers {
  text-align: center;
}
@media only screen and (max-width: 64em) { 
  //small screens
  div.wedding_party-desktop {
    display:none;
  }
}
@media only screen and (min-width: 64.063em) {
  //other screens
  div.wedding_party-mobile {
    display:none;
  }
}