a.purple-button {
  background-color: #814463 !important;
}

@media only screen and (max-width: 1125px) { 
  //small screens
  body.welcome-page{
    background-image: url('https://s3.amazonaws.com/asmita-and-eric/bench.jpg');
    background-size: cover;
    background-position: center center;
    height:75vh;
  }

  div.welcome-message {
    position: absolute;
    left:50%;
    top:20%;
    margin-left:-100px; 
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width:200px;
    height:50px;

    > div {
      font-size:30px;
      color: #000;

      font-family: 'Oswald', sans-serif;
      
    }
    div.wedding-date{
      font-size: 7px;
      position:relative;
      top:-15px;
      left:0px;

    }
    div.eric-name {
      position:relative;
      top:-80px;
      left:70px;
    }
    div.asmita-name {
      position:relative;
      top:-5px;
      left:-50px;
    }
    div.and-sep {
      font-size: 20px;
      position:relative;
      top:-45px;
      left:20px;
    }
    img.skyline {
      display:none;
      width:100px;
      position:relative;
      top:-265px;
      left:-50px;
    }
  }

}
@media only screen and (min-width: 1125px) {
  //other screens
  body.welcome-page{
    div.container{
      background-color:transparent;
    }
  }
  body.welcome-page{
    //background: linear-gradient(rgba(204, 201, 218, 0.4), rgba(204, 201, 218, 0.1)), url('blk_bench.jpg');
    background-image: url('https://s3.amazonaws.com/asmita-and-eric/bench.jpg');
    background-size: cover;
    background-position: top top;
    height:75vh;
    background-attachment:fixed;
  }
  .photo {
    img {
      width:100vw;
    }
  }
  div.welcome-message {
    position: absolute;
    left:50%;
    top:35%;
    margin-left:-250px; 
    text-align: center;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width:500px;
    height:100px;

    > div {
      font-size:80px;
      color: #000;

      font-family: 'Oswald', sans-serif;
      
    }
    div.wedding-date{
      font-size: 19px;
      position:relative;
      top:-30px;
      left:0px;

    }
    div.eric-name {
      position:relative;
      top:-220px;
      left:160px;
    }
    div.asmita-name {
      position:relative;
      top:-40px;
      left:-130px;
    }
    div.and-sep {
      font-size: 40px;
      position:relative;
      top:-140px;
      left:40px;
    }
    img.skyline {
      display:none;
      width:100px;
      position:relative;
      top:-265px;
      left:-50px;
    }
  }
}

div.slideshow {
  height:100vh;
  overflow: hidden;
  margin-bottom: 0px;
}