.photo {
  img {
    width:100vw;
  }
}
div.welcome-message {
  position: absolute;
  left:50%;
  top:40%;
  margin-left:-250px; 
  text-align: center;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width:500px;
  height:100px;

  > div {
    font-size:80px;
    color: #fff;

    font-family: 'Oswald', sans-serif;
    
  }
  div.wedding-date{
    font-size: 19px;
    position:relative;
    top:-30px;
    left:0px;

  }
  div.eric-name {
    position:relative;
    top:-40px;
    left:-180px;
  }
  div.asmita-name {
    position:relative;
    top:-220px;
    left:130px;
  }
  div.and-sep {
    font-size: 40px;
    position:relative;
    top:-140px;
    left:-50px;
  }
  img.skyline {
    display:none;
    width:100px;
    position:relative;
    top:-265px;
    left:-50px;
  }
}

div.slideshow {
  height:100vh;
  overflow: hidden;
  margin-bottom: 0px;
}