.photo {
  img {
    width:100vw;
  }
}
div.welcome-message {
  transform: translateY(-70vh);
  text-align: center;
  border: 1px #ffcc00;

  > span {
    font-size:10em;
    color: #ffcc00;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-family: 'Alex Brush', cursive;
    
  }
}

div.slideshow {
  height:100vh;
  overflow: hidden;
  margin-bottom: 0px;
}