<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
    <ul class="title-area">
      <li class="logo">
        <%= image_tag "ganesh.svg", class: "ganesh-logo" %>
      </li>
    </ul>
    <section class="top-bar-section">
    <ul class="right">
      <% if current_user.nil? %>
        <a href="#" data-reveal-id="myModal" class="alert button">RSVP</a>
        <%= link_to 'Login', :rsvp_index, class: "alert button" %>
      <% else %>
      <li class="">
        <span>Welcome <%= current_user.full_name %></span>
      </li>
      <% end %>
    </ul>
    </section>
  </nav>
</div>
<a href="#" data-reveal-id="myModal">Click Me For A Modal</a>

<div id="myModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Please enter your invite code</h2>
  <%= form_tag(:rsvp_new, method: "get") do %>
   <div class="row user-token-field">
     <div class="small-12 large-12 columns">
       <input type="text" id="invite_code" name="invite_code" required>
         <button type="submit">Submit</button>
      </div>
    </div>
  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>